@use 'variables';
@use 'mixins';
@use 'base';
@use 'components';


.header {
    padding-bottom: variables.$spacer-30;

    @include mixins.medium {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        margin: 0 auto;
        display: block;
        padding: variables.$spacer;
        text-align: center;

        @include mixins.medium {
            margin: 0;
        }
    }

    .menu {
        display: flex;

        &__item {
            flex: 1 0 (calc(100% / 3));
            font-family: variables.$font-special;
            font-size: 18px;
            font-weight: 600;
            color: variables.$c-primary;
            text-decoration: none;
            text-align: center;
            padding: variables.$spacer;
    
            &:hover {
                color: variables.$c-white;
                background-color: variables.$c-primary;
                padding: variables.$spacer;
            }

            @include mixins.medium {
                flex: 0 0 auto;
            }
        }

    }

    
}