@use 'variables';
@use 'base';
@use 'components';


.header {
    padding-bottom: variables.$padding-30;

    @media (min-width: 768px)  {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        margin: 0 auto;
        display: block;
        padding: 30px;
        text-align: center;

        @media (min-width: 768px) {
            margin: 0;
        }
    }

    .menu {
        display: flex;

        &__item {
            flex: 1 0 (calc(100% / 3));
            font-family: variables.$font-headers;
            font-size: 18px;
            font-weight: 600;
            color: variables.$c-primary;
            text-decoration: none;
            text-align: center;
            padding: variables.$padding-20;

            @media (min-width: 768px) {
                flex: 0 0 auto;
            }
    
            &:hover {
                color: variables.$c-white;
                background-color: variables.$c-primary;
                padding: variables.$padding-20;
            }
        }

    }

    
}