// colors

$c-primary: #F03000;
$c-white: #FFFFFF;
$c-grey-300: #F0F0F0;
$c-grey-500: #888888;
$c-grey-700: #444444;
$c-black: #000000;
$c-grey-opacity-50: #80808080;
$c-grey-opacity-100: #00000000;



// fonts

$font-body: 'Open Sans', sans-serif; 
$font-headers: 'Montserrat', sans-serif; 



// other

$body-text-size: 16px;

$padding-20: 20px;
$padding-30: 30px;