html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

// colors

$c-primary: #F03000;
$c-white: #FFFFFF;
$c-grey-300: #F0F0F0;
$c-grey-500: #888888;
$c-grey-700: #444444;
$c-black: #000000;
$c-grey-opacity-50: #80808080;
$c-grey-opacity-100: #00000000;


// fonts
// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;

$font-body: 'Open Sans', sans-serif; 
$font-headers: 'Montserrat', sans-serif; 

// other

$body-text-size: 16px;

$padding-20: 20px;
$padding-30: 30px;


// body

body {
    font-family: $font-body;
}

h1, h2 {
    font-family: $font-headers;
}


// header

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding: $padding-20;
}

.header {
    padding-bottom: $padding-30;

    @media (min-width: 768px)  {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        margin: 0 auto;
        display: block;
        padding: 30px;
        text-align: center;

        @media (min-width: 768px) {
            margin: 0;
        }
    }

    .menu {
        display: flex;

        &__item {
            flex: 1 0 (calc(100% / 3));
            font-family: $font-headers;
            font-size: 18px;
            font-weight: 600;
            color: $c-primary;
            text-decoration: none;
            text-align: center;
            padding: $padding-20;

            @media (min-width: 768px) {
                flex: 0 0 auto;
            }
    
            &:hover {
                color: $c-white;
                background-color: $c-primary;
                padding: $padding-20;
            }
        }

    }

    
}

// Zájezdy
